In [132]:
import pandas as pd
import numpy as np
import pandas as pd
import joblib
from sklearn.model_selection import cross_val_score
import numpy as np

In [133]:
# Step 1: Load the dataset

dataset = pd.read_pickle('dataset_final.pkl')

In [134]:
print(dataset)

     Q20__nota_português_2.ºperiodo  Q26__nota_mat_2.ºperiodo  \
0                               4.0                       4.0
1                               3.0                       3.0
2                               3.0                       4.0
3                               3.0                       4.0
4                               4.0                       4.0
..                              ...                       ...
840                             4.0                       2.0
841                             3.0                       3.0
842                             5.0                       5.0
843                             5.0                       5.0
844                             3.0                       3.0

     Q16_satisfação_com_notas_escolares  Q15_as_minhas_notas  \
0                                   4.0                  4.0
1                                   3.0                  3.0
2                                   4.0                  3.0
3                                   3.0                  2.0
4                                   5.0                  4.0
..                                  ...                  ...
840                                 3.0                  3.0
841                                 1.0                  1.0
842                                 4.0                  3.0
843                                 5.0                  3.0
844                                 4.0                  3.0

     envolvimento_scoretotal  Prev_Cluster
0                       21.0             1
1                       23.0             1
2                       19.0             1
3                       20.0             1
4                       22.0             3
..                       ...           ...
840                     20.0             2
841                     19.0             0
842                     24.0             3
843                     23.0             3
844                     18.0             1

[845 rows x 6 columns]

In [135]:
# Define the criteria weights
weights = [0.1, 0.1, 0.1, 0.1, 0.1, 0.5]  # Adjust the weights based on the importance of each feature

In [136]:
#features = dataset.values
#print(features)

In [137]:
range(len(dataset))

range(0, 845)

In [138]:
n_dataset= dataset.copy()

In [139]:
l = ['Q20__nota_português_2.ºperiodo','Q26__nota_mat_2.ºperiodo','Q16_satisfação_com_notas_escolares','Q15_as_minhas_notas','envolvimento_scoretotal', 'Prev_Cluster']

for nome in l:
    for indice, valor in n_dataset[nome].iteritems():
        # Faça alguma operação desejada com o valor da linha
        # Por exemplo, imprima o índice e o valor da linha
        if(nome=='Q20__nota_português_2.ºperiodo' or nome =='Q26__nota_mat_2.ºperiodo' or nome== 'Q16_satisfação_com_notas_escolares' or nome=='Q15_as_minhas_notas' or nome=='Prev_Cluster') :
            if(valor==0.0): 
                n_dataset.loc[indice,nome ]= 0.15
            if(valor==1.0): 
                n_dataset.loc[indice, nome]= 0.30
            if(valor==2.0): 
                n_dataset.loc[indice, nome]= 0.45
            if(valor==3.0): 
                n_dataset.loc[indice, nome]= 0.60
            if(valor==4.0): 
                n_dataset.loc[indice, nome]= 0.75
            if(valor==5.0): 
                n_dataset.loc[indice, nome ]= 1


        if(nome=='envolvimento_scoretotal'):   
           
            if(valor>=0.0 and valor<=5.0): 
                n_dataset.loc[indice, 'envolvimento_scoretotal']= 0.15
            if(valor>5.0 and valor<=10.0): 
                n_dataset.loc[indice, 'envolvimento_scoretotal']= 0.30
            if(valor>10.0 and valor<=15.0): 
                n_dataset.loc[indice, 'envolvimento_scoretotal']= 0.45
            if(valor>15.0 and valor<=20.0): 
                n_dataset.loc[indice, 'envolvimento_scoretotal']= 0.60
            if(valor>20.0 and valor<25.0): 
                n_dataset.loc[indice, 'envolvimento_scoretotal']= 0.75
            if(valor>=25.0): 
                n_dataset.loc[indice, 'envolvimento_scoretotal']= 1

In [140]:
min_values = n_dataset.min()

min_values

Q20__nota_português_2.ºperiodo        0.45
Q26__nota_mat_2.ºperiodo              0.45
Q16_satisfação_com_notas_escolares    0.30
Q15_as_minhas_notas                   0.30
envolvimento_scoretotal               0.15
Prev_Cluster                          0.15
dtype: float64

In [141]:
n_dataset

,Q20__nota_português_2.ºperiodo,Q26__nota_mat_2.ºperiodo,Q16_satisfação_com_notas_escolares,Q15_as_minhas_notas,envolvimento_scoretotal,Prev_Cluster
0,0.75,0.75,0.75,0.75,0.75,0.30
1,0.60,0.60,0.60,0.60,0.75,0.30
2,0.60,0.75,0.75,0.60,0.60,0.30
3,0.60,0.75,0.60,0.45,0.60,0.30
4,0.75,0.75,1.00,0.75,0.75,0.60
...,...,...,...,...,...,...
840,0.75,0.45,0.60,0.60,0.60,0.45
841,0.60,0.60,0.30,0.30,0.60,0.15
842,1.00,1.00,0.75,0.60,0.75,0.60
843,1.00,1.00,1.00,0.60,0.75,0.60
844,0.60,0.60,0.75,0.60,0.60,0.30

In [142]:
normalized_data = n_dataset

In [143]:
l = ['Q20__nota_português_2.ºperiodo','Q26__nota_mat_2.ºperiodo','Q16_satisfação_com_notas_escolares','Q15_as_minhas_notas','envolvimento_scoretotal', 'Prev_Cluster']

for nome in l:
    for indice, valor in n_dataset[nome].iteritems():
        # Faça alguma operação desejada com o valor da linha
        # Por exemplo, imprima o índice e o valor da linha
        min_value = n_dataset[nome].min()

        valor = n_dataset.loc[indice, nome]
        normalized_data.loc[indice, nome]= min_value / valor

In [144]:
normalized_data

,Q20__nota_português_2.ºperiodo,Q26__nota_mat_2.ºperiodo,Q16_satisfação_com_notas_escolares,Q15_as_minhas_notas,envolvimento_scoretotal,Prev_Cluster
0,0.60,0.60,0.4,0.400000,0.20,0.500000
1,0.75,0.75,0.5,0.500000,0.20,0.500000
2,0.75,0.60,0.4,0.500000,0.25,0.500000
3,0.75,0.60,0.5,0.666667,0.25,0.500000
4,0.60,0.60,0.3,0.400000,0.20,0.250000
...,...,...,...,...,...,...
840,0.60,1.00,0.5,0.500000,0.25,0.333333
841,0.75,0.75,1.0,1.000000,0.25,1.000000
842,0.45,0.45,0.4,0.500000,0.20,0.416667
843,0.45,0.45,0.3,0.500000,0.20,0.416667
844,0.75,0.75,0.4,0.500000,0.25,0.833333

In [145]:
# Perform the SAW calculation
weighted_data = normalized_data * weights

weighted_data

,Q20__nota_português_2.ºperiodo,Q26__nota_mat_2.ºperiodo,Q16_satisfação_com_notas_escolares,Q15_as_minhas_notas,envolvimento_scoretotal,Prev_Cluster
0,0.060,0.060,0.04,0.040000,0.020,0.250000
1,0.075,0.075,0.05,0.050000,0.020,0.250000
2,0.075,0.060,0.04,0.050000,0.025,0.250000
3,0.075,0.060,0.05,0.066667,0.025,0.250000
4,0.060,0.060,0.03,0.040000,0.020,0.125000
...,...,...,...,...,...,...
840,0.060,0.100,0.05,0.050000,0.025,0.166667
841,0.075,0.075,0.10,0.100000,0.025,0.500000
842,0.045,0.045,0.04,0.050000,0.020,0.208333
843,0.045,0.045,0.03,0.050000,0.020,0.208333
844,0.075,0.075,0.04,0.050000,0.025,0.416667

In [146]:
# Calculate the weighted sum for each entry
weighted_sum = weighted_data.sum(axis=1)

weighted_sum

0      0.470000
1      0.520000
2      0.500000
3      0.526667
4      0.335000
         ...
840    0.451667
841    0.875000
842    0.408333
843    0.398333
844    0.681667
Length: 845, dtype: float64

In [147]:
# Rank the entries based on the weighted sum
ranked_data = dataset.copy()
ranked_data['Weighted Sum'] = weighted_sum
ranked_data = ranked_data.sort_values('Weighted Sum', ascending=False)
ranked_data['Rank'] = range(1, len(dataset) + 1)

In [149]:
# Display the ranked data
for i, idx in enumerate(ranked_data.index):
    print(f"Rank {i+1}: Alternative {idx+1}")

Rank 1: Alternative 259
Rank 2: Alternative 721
Rank 3: Alternative 542
Rank 4: Alternative 496
Rank 5: Alternative 281
Rank 6: Alternative 446
Rank 7: Alternative 292
Rank 8: Alternative 248
Rank 9: Alternative 113
Rank 10: Alternative 492
Rank 11: Alternative 800
Rank 12: Alternative 418
Rank 13: Alternative 703
Rank 14: Alternative 540
Rank 15: Alternative 497
Rank 16: Alternative 112
Rank 17: Alternative 842
Rank 18: Alternative 436
Rank 19: Alternative 437
Rank 20: Alternative 762
Rank 21: Alternative 752
Rank 22: Alternative 348
Rank 23: Alternative 399
Rank 24: Alternative 361
Rank 25: Alternative 493
Rank 26: Alternative 170
Rank 27: Alternative 500
Rank 28: Alternative 250
Rank 29: Alternative 766
Rank 30: Alternative 144
Rank 31: Alternative 163
Rank 32: Alternative 814
Rank 33: Alternative 384
Rank 34: Alternative 668
Rank 35: Alternative 336
Rank 36: Alternative 544
Rank 37: Alternative 114
Rank 38: Alternative 605
Rank 39: Alternative 453
Rank 40: Alternative 488
Rank 41: Alternative 561
Rank 42: Alternative 363
Rank 43: Alternative 699
Rank 44: Alternative 358
Rank 45: Alternative 365
Rank 46: Alternative 494
Rank 47: Alternative 353
Rank 48: Alternative 188
Rank 49: Alternative 338
Rank 50: Alternative 454
Rank 51: Alternative 808
Rank 52: Alternative 167
Rank 53: Alternative 510
Rank 54: Alternative 444
Rank 55: Alternative 467
Rank 56: Alternative 449
Rank 57: Alternative 23
Rank 58: Alternative 258
Rank 59: Alternative 470
Rank 60: Alternative 377
Rank 61: Alternative 838
Rank 62: Alternative 553
Rank 63: Alternative 17
Rank 64: Alternative 468
Rank 65: Alternative 382
Rank 66: Alternative 249
Rank 67: Alternative 543
Rank 68: Alternative 356
Rank 69: Alternative 620
Rank 70: Alternative 734
Rank 71: Alternative 33
Rank 72: Alternative 350
Rank 73: Alternative 824
Rank 74: Alternative 412
Rank 75: Alternative 708
Rank 76: Alternative 402
Rank 77: Alternative 552
Rank 78: Alternative 583
Rank 79: Alternative 473
Rank 80: Alternative 345
Rank 81: Alternative 357
Rank 82: Alternative 456
Rank 83: Alternative 689
Rank 84: Alternative 489
Rank 85: Alternative 829
Rank 86: Alternative 513
Rank 87: Alternative 278
Rank 88: Alternative 503
Rank 89: Alternative 837
Rank 90: Alternative 383
Rank 91: Alternative 109
Rank 92: Alternative 385
Rank 93: Alternative 280
Rank 94: Alternative 192
Rank 95: Alternative 796
Rank 96: Alternative 298
Rank 97: Alternative 389
Rank 98: Alternative 773
Rank 99: Alternative 530
Rank 100: Alternative 478
Rank 101: Alternative 725
Rank 102: Alternative 757
Rank 103: Alternative 387
Rank 104: Alternative 806
Rank 105: Alternative 559
Rank 106: Alternative 754
Rank 107: Alternative 65
Rank 108: Alternative 332
Rank 109: Alternative 128
Rank 110: Alternative 539
Rank 111: Alternative 545
Rank 112: Alternative 334
Rank 113: Alternative 344
Rank 114: Alternative 410
Rank 115: Alternative 657
Rank 116: Alternative 813
Rank 117: Alternative 108
Rank 118: Alternative 105
Rank 119: Alternative 270
Rank 120: Alternative 501
Rank 121: Alternative 475
Rank 122: Alternative 822
Rank 123: Alternative 119
Rank 124: Alternative 150
Rank 125: Alternative 811
Rank 126: Alternative 785
Rank 127: Alternative 439
Rank 128: Alternative 342
Rank 129: Alternative 835
Rank 130: Alternative 823
Rank 131: Alternative 836
Rank 132: Alternative 588
Rank 133: Alternative 272
Rank 134: Alternative 323
Rank 135: Alternative 505
Rank 136: Alternative 393
Rank 137: Alternative 562
Rank 138: Alternative 640
Rank 139: Alternative 143
Rank 140: Alternative 171
Rank 141: Alternative 664
Rank 142: Alternative 797
Rank 143: Alternative 799
Rank 144: Alternative 139
Rank 145: Alternative 749
Rank 146: Alternative 736
Rank 147: Alternative 359
Rank 148: Alternative 520
Rank 149: Alternative 232
Rank 150: Alternative 465
Rank 151: Alternative 452
Rank 152: Alternative 390
Rank 153: Alternative 29
Rank 154: Alternative 395
Rank 155: Alternative 244
Rank 156: Alternative 37
Rank 157: Alternative 727
Rank 158: Alternative 840
Rank 159: Alternative 231
Rank 160: Alternative 381
Rank 161: Alternative 68
Rank 162: Alternative 235
Rank 163: Alternative 677
Rank 164: Alternative 550
Rank 165: Alternative 464
Rank 166: Alternative 765
Rank 167: Alternative 763
Rank 168: Alternative 746
Rank 169: Alternative 111
Rank 170: Alternative 124
Rank 171: Alternative 30
Rank 172: Alternative 145
Rank 173: Alternative 35
Rank 174: Alternative 729
Rank 175: Alternative 667
Rank 176: Alternative 293
Rank 177: Alternative 514
Rank 178: Alternative 671
Rank 179: Alternative 224
Rank 180: Alternative 207
Rank 181: Alternative 792
Rank 182: Alternative 375
Rank 183: Alternative 810
Rank 184: Alternative 504
Rank 185: Alternative 220
Rank 186: Alternative 265
Rank 187: Alternative 637
Rank 188: Alternative 405
Rank 189: Alternative 18
Rank 190: Alternative 25
Rank 191: Alternative 52
Rank 192: Alternative 780
Rank 193: Alternative 379
Rank 194: Alternative 78
Rank 195: Alternative 731
Rank 196: Alternative 697
Rank 197: Alternative 97
Rank 198: Alternative 181
Rank 199: Alternative 832
Rank 200: Alternative 44
Rank 201: Alternative 242
Rank 202: Alternative 343
Rank 203: Alternative 321
Rank 204: Alternative 738
Rank 205: Alternative 340
Rank 206: Alternative 12
Rank 207: Alternative 818
Rank 208: Alternative 367
Rank 209: Alternative 370
Rank 210: Alternative 394
Rank 211: Alternative 118
Rank 212: Alternative 424
Rank 213: Alternative 845
Rank 214: Alternative 374
Rank 215: Alternative 378
Rank 216: Alternative 499
Rank 217: Alternative 560
Rank 218: Alternative 406
Rank 219: Alternative 700
Rank 220: Alternative 256
Rank 221: Alternative 373
Rank 222: Alternative 82
Rank 223: Alternative 115
Rank 224: Alternative 185
Rank 225: Alternative 622
Rank 226: Alternative 110
Rank 227: Alternative 443
Rank 228: Alternative 27
Rank 229: Alternative 179
Rank 230: Alternative 582
Rank 231: Alternative 803
Rank 232: Alternative 309
Rank 233: Alternative 194
Rank 234: Alternative 648
Rank 235: Alternative 4
Rank 236: Alternative 233
Rank 237: Alternative 346
Rank 238: Alternative 388
Rank 239: Alternative 209
Rank 240: Alternative 302
Rank 241: Alternative 229
Rank 242: Alternative 243
Rank 243: Alternative 428
Rank 244: Alternative 140
Rank 245: Alternative 360
Rank 246: Alternative 154
Rank 247: Alternative 419
Rank 248: Alternative 32
Rank 249: Alternative 215
Rank 250: Alternative 283
Rank 251: Alternative 2
Rank 252: Alternative 116
Rank 253: Alternative 663
Rank 254: Alternative 203
Rank 255: Alternative 330
Rank 256: Alternative 317
Rank 257: Alternative 442
Rank 258: Alternative 347
Rank 259: Alternative 435
Rank 260: Alternative 421
Rank 261: Alternative 319
Rank 262: Alternative 268
Rank 263: Alternative 404
Rank 264: Alternative 403
Rank 265: Alternative 495
Rank 266: Alternative 401
Rank 267: Alternative 164
Rank 268: Alternative 252
Rank 269: Alternative 541
Rank 270: Alternative 226
Rank 271: Alternative 805
Rank 272: Alternative 807
Rank 273: Alternative 228
Rank 274: Alternative 93
Rank 275: Alternative 523
Rank 276: Alternative 696
Rank 277: Alternative 241
Rank 278: Alternative 551
Rank 279: Alternative 741
Rank 280: Alternative 247
Rank 281: Alternative 632
Rank 282: Alternative 191
Rank 283: Alternative 159
Rank 284: Alternative 589
Rank 285: Alternative 173
Rank 286: Alternative 81
Rank 287: Alternative 182
Rank 288: Alternative 564
Rank 289: Alternative 234
Rank 290: Alternative 275
Rank 291: Alternative 142
Rank 292: Alternative 681
Rank 293: Alternative 603
Rank 294: Alternative 165
Rank 295: Alternative 471
Rank 296: Alternative 88
Rank 297: Alternative 138
Rank 298: Alternative 606
Rank 299: Alternative 75
Rank 300: Alternative 21
Rank 301: Alternative 502
Rank 302: Alternative 833
Rank 303: Alternative 9
Rank 304: Alternative 254
Rank 305: Alternative 42
Rank 306: Alternative 262
Rank 307: Alternative 263
Rank 308: Alternative 820
Rank 309: Alternative 325
Rank 310: Alternative 189
Rank 311: Alternative 826
Rank 312: Alternative 314
Rank 313: Alternative 131
Rank 314: Alternative 240
Rank 315: Alternative 239
Rank 316: Alternative 58
Rank 317: Alternative 161
Rank 318: Alternative 581
Rank 319: Alternative 616
Rank 320: Alternative 368
Rank 321: Alternative 211
Rank 322: Alternative 49
Rank 323: Alternative 141
Rank 324: Alternative 255
Rank 325: Alternative 469
Rank 326: Alternative 3
Rank 327: Alternative 645
Rank 328: Alternative 392
Rank 329: Alternative 349
Rank 330: Alternative 83
Rank 331: Alternative 430
Rank 332: Alternative 695
Rank 333: Alternative 730
Rank 334: Alternative 60
Rank 335: Alternative 733
Rank 336: Alternative 267
Rank 337: Alternative 210
Rank 338: Alternative 277
Rank 339: Alternative 213
Rank 340: Alternative 482
Rank 341: Alternative 525
Rank 342: Alternative 227
Rank 343: Alternative 291
Rank 344: Alternative 536
Rank 345: Alternative 196
Rank 346: Alternative 289
Rank 347: Alternative 474
Rank 348: Alternative 257
Rank 349: Alternative 599
Rank 350: Alternative 498
Rank 351: Alternative 218
Rank 352: Alternative 66
Rank 353: Alternative 204
Rank 354: Alternative 366
Rank 355: Alternative 311
Rank 356: Alternative 200
Rank 357: Alternative 828
Rank 358: Alternative 313
Rank 359: Alternative 631
Rank 360: Alternative 98
Rank 361: Alternative 72
Rank 362: Alternative 750
Rank 363: Alternative 445
Rank 364: Alternative 391
Rank 365: Alternative 16
Rank 366: Alternative 103
Rank 367: Alternative 571
Rank 368: Alternative 685
Rank 369: Alternative 279
Rank 370: Alternative 175
Rank 371: Alternative 86
Rank 372: Alternative 354
Rank 373: Alternative 675
Rank 374: Alternative 264
Rank 375: Alternative 526
Rank 376: Alternative 148
Rank 377: Alternative 130
Rank 378: Alternative 162
Rank 379: Alternative 547
Rank 380: Alternative 376
Rank 381: Alternative 266
Rank 382: Alternative 261
Rank 383: Alternative 533
Rank 384: Alternative 85
Rank 385: Alternative 458
Rank 386: Alternative 335
Rank 387: Alternative 670
Rank 388: Alternative 618
Rank 389: Alternative 301
Rank 390: Alternative 7
Rank 391: Alternative 158
Rank 392: Alternative 613
Rank 393: Alternative 186
Rank 394: Alternative 318
Rank 395: Alternative 216
Rank 396: Alternative 246
Rank 397: Alternative 312
Rank 398: Alternative 701
Rank 399: Alternative 129
Rank 400: Alternative 717
Rank 401: Alternative 13
Rank 402: Alternative 1
Rank 403: Alternative 127
Rank 404: Alternative 369
Rank 405: Alternative 337
Rank 406: Alternative 183
Rank 407: Alternative 777
Rank 408: Alternative 48
Rank 409: Alternative 764
Rank 410: Alternative 841
Rank 411: Alternative 397
Rank 412: Alternative 720
Rank 413: Alternative 715
Rank 414: Alternative 638
Rank 415: Alternative 775
Rank 416: Alternative 506
Rank 417: Alternative 643
Rank 418: Alternative 47
Rank 419: Alternative 684
Rank 420: Alternative 24
Rank 421: Alternative 422
Rank 422: Alternative 758
Rank 423: Alternative 461
Rank 424: Alternative 176
Rank 425: Alternative 710
Rank 426: Alternative 567
Rank 427: Alternative 420
Rank 428: Alternative 43
Rank 429: Alternative 601
Rank 430: Alternative 193
Rank 431: Alternative 779
Rank 432: Alternative 707
Rank 433: Alternative 457
Rank 434: Alternative 463
Rank 435: Alternative 206
Rank 436: Alternative 296
Rank 437: Alternative 755
Rank 438: Alternative 690
Rank 439: Alternative 34
Rank 440: Alternative 702
Rank 441: Alternative 398
Rank 442: Alternative 527
Rank 443: Alternative 768
Rank 444: Alternative 633
Rank 445: Alternative 14
Rank 446: Alternative 706
Rank 447: Alternative 521
Rank 448: Alternative 612
Rank 449: Alternative 26
Rank 450: Alternative 767
Rank 451: Alternative 448
Rank 452: Alternative 508
Rank 453: Alternative 714
Rank 454: Alternative 476
Rank 455: Alternative 816
Rank 456: Alternative 673
Rank 457: Alternative 623
Rank 458: Alternative 195
Rank 459: Alternative 423
Rank 460: Alternative 451
Rank 461: Alternative 691
Rank 462: Alternative 709
Rank 463: Alternative 326
Rank 464: Alternative 303
Rank 465: Alternative 719
Rank 466: Alternative 447
Rank 467: Alternative 782
Rank 468: Alternative 769
Rank 469: Alternative 745
Rank 470: Alternative 341
Rank 471: Alternative 507
Rank 472: Alternative 751
Rank 473: Alternative 460
Rank 474: Alternative 102
Rank 475: Alternative 55
Rank 476: Alternative 532
Rank 477: Alternative 732
Rank 478: Alternative 316
Rank 479: Alternative 716
Rank 480: Alternative 786
Rank 481: Alternative 723
Rank 482: Alternative 724
Rank 483: Alternative 665
Rank 484: Alternative 549
Rank 485: Alternative 770
Rank 486: Alternative 772
Rank 487: Alternative 166
Rank 488: Alternative 529
Rank 489: Alternative 96
Rank 490: Alternative 781
Rank 491: Alternative 371
Rank 492: Alternative 106
Rank 493: Alternative 100
Rank 494: Alternative 509
Rank 495: Alternative 117
Rank 496: Alternative 63
Rank 497: Alternative 126
Rank 498: Alternative 136
Rank 499: Alternative 306
Rank 500: Alternative 69
Rank 501: Alternative 485
Rank 502: Alternative 778
Rank 503: Alternative 54
Rank 504: Alternative 180
Rank 505: Alternative 830
Rank 506: Alternative 791
Rank 507: Alternative 735
Rank 508: Alternative 586
Rank 509: Alternative 821
Rank 510: Alternative 815
Rank 511: Alternative 28
Rank 512: Alternative 351
Rank 513: Alternative 759
Rank 514: Alternative 761
Rank 515: Alternative 74
Rank 516: Alternative 222
Rank 517: Alternative 580
Rank 518: Alternative 152
Rank 519: Alternative 135
Rank 520: Alternative 479
Rank 521: Alternative 230
Rank 522: Alternative 660
Rank 523: Alternative 809
Rank 524: Alternative 519
Rank 525: Alternative 546
Rank 526: Alternative 101
Rank 527: Alternative 178
Rank 528: Alternative 827
Rank 529: Alternative 608
Rank 530: Alternative 740
Rank 531: Alternative 843
Rank 532: Alternative 516
Rank 533: Alternative 661
Rank 534: Alternative 574
Rank 535: Alternative 123
Rank 536: Alternative 705
Rank 537: Alternative 597
Rank 538: Alternative 839
Rank 539: Alternative 686
Rank 540: Alternative 177
Rank 541: Alternative 38
Rank 542: Alternative 426
Rank 543: Alternative 666
Rank 544: Alternative 647
Rank 545: Alternative 646
Rank 546: Alternative 104
Rank 547: Alternative 90
Rank 548: Alternative 656
Rank 549: Alternative 662
Rank 550: Alternative 56
Rank 551: Alternative 704
Rank 552: Alternative 604
Rank 553: Alternative 682
Rank 554: Alternative 739
Rank 555: Alternative 107
Rank 556: Alternative 626
Rank 557: Alternative 168
Rank 558: Alternative 87
Rank 559: Alternative 450
Rank 560: Alternative 31
Rank 561: Alternative 315
Rank 562: Alternative 459
Rank 563: Alternative 328
Rank 564: Alternative 208
Rank 565: Alternative 198
Rank 566: Alternative 6
Rank 567: Alternative 15
Rank 568: Alternative 528
Rank 569: Alternative 483
Rank 570: Alternative 19
Rank 571: Alternative 417
Rank 572: Alternative 517
Rank 573: Alternative 271
Rank 574: Alternative 327
Rank 575: Alternative 512
Rank 576: Alternative 511
Rank 577: Alternative 441
Rank 578: Alternative 619
Rank 579: Alternative 748
Rank 580: Alternative 565
Rank 581: Alternative 831
Rank 582: Alternative 307
Rank 583: Alternative 518
Rank 584: Alternative 253
Rank 585: Alternative 825
Rank 586: Alternative 812
Rank 587: Alternative 844
Rank 588: Alternative 433
Rank 589: Alternative 122
Rank 590: Alternative 151
Rank 591: Alternative 77
Rank 592: Alternative 287
Rank 593: Alternative 554
Rank 594: Alternative 50
Rank 595: Alternative 639
Rank 596: Alternative 688
Rank 597: Alternative 160
Rank 598: Alternative 362
Rank 599: Alternative 713
Rank 600: Alternative 153
Rank 601: Alternative 817
Rank 602: Alternative 432
Rank 603: Alternative 219
Rank 604: Alternative 40
Rank 605: Alternative 595
Rank 606: Alternative 73
Rank 607: Alternative 46
Rank 608: Alternative 45
Rank 609: Alternative 120
Rank 610: Alternative 687
Rank 611: Alternative 409
Rank 612: Alternative 8
Rank 613: Alternative 760
Rank 614: Alternative 587
Rank 615: Alternative 570
Rank 616: Alternative 524
Rank 617: Alternative 355
Rank 618: Alternative 784
Rank 619: Alternative 36
Rank 620: Alternative 20
Rank 621: Alternative 718
Rank 622: Alternative 310
Rank 623: Alternative 333
Rank 624: Alternative 408
Rank 625: Alternative 39
Rank 626: Alternative 364
Rank 627: Alternative 284
Rank 628: Alternative 802
Rank 629: Alternative 187
Rank 630: Alternative 590
Rank 631: Alternative 572
Rank 632: Alternative 197
Rank 633: Alternative 537
Rank 634: Alternative 157
Rank 635: Alternative 155
Rank 636: Alternative 804
Rank 637: Alternative 672
Rank 638: Alternative 415
Rank 639: Alternative 396
Rank 640: Alternative 627
Rank 641: Alternative 304
Rank 642: Alternative 308
Rank 643: Alternative 522
Rank 644: Alternative 276
Rank 645: Alternative 53
Rank 646: Alternative 653
Rank 647: Alternative 92
Rank 648: Alternative 558
Rank 649: Alternative 575
Rank 650: Alternative 694
Rank 651: Alternative 286
Rank 652: Alternative 438
Rank 653: Alternative 339
Rank 654: Alternative 776
Rank 655: Alternative 753
Rank 656: Alternative 425
Rank 657: Alternative 584
Rank 658: Alternative 629
Rank 659: Alternative 680
Rank 660: Alternative 260
Rank 661: Alternative 669
Rank 662: Alternative 274
Rank 663: Alternative 282
Rank 664: Alternative 137
Rank 665: Alternative 722
Rank 666: Alternative 788
Rank 667: Alternative 491
Rank 668: Alternative 801
Rank 669: Alternative 535
Rank 670: Alternative 531
Rank 671: Alternative 614
Rank 672: Alternative 548
Rank 673: Alternative 331
Rank 674: Alternative 576
Rank 675: Alternative 236
Rank 676: Alternative 322
Rank 677: Alternative 269
Rank 678: Alternative 288
Rank 679: Alternative 414
Rank 680: Alternative 329
Rank 681: Alternative 440
Rank 682: Alternative 184
Rank 683: Alternative 563
Rank 684: Alternative 789
Rank 685: Alternative 149
Rank 686: Alternative 133
Rank 687: Alternative 99
Rank 688: Alternative 221
Rank 689: Alternative 5
Rank 690: Alternative 125
Rank 691: Alternative 416
Rank 692: Alternative 380
Rank 693: Alternative 596
Rank 694: Alternative 557
Rank 695: Alternative 787
Rank 696: Alternative 555
Rank 697: Alternative 205
Rank 698: Alternative 578
Rank 699: Alternative 94
Rank 700: Alternative 386
Rank 701: Alternative 794
Rank 702: Alternative 774
Rank 703: Alternative 11
Rank 704: Alternative 610
Rank 705: Alternative 41
Rank 706: Alternative 636
Rank 707: Alternative 515
Rank 708: Alternative 642
Rank 709: Alternative 190
Rank 710: Alternative 615
Rank 711: Alternative 290
Rank 712: Alternative 652
Rank 713: Alternative 67
Rank 714: Alternative 484
Rank 715: Alternative 305
Rank 716: Alternative 790
Rank 717: Alternative 534
Rank 718: Alternative 600
Rank 719: Alternative 169
Rank 720: Alternative 538
Rank 721: Alternative 121
Rank 722: Alternative 683
Rank 723: Alternative 324
Rank 724: Alternative 172
Rank 725: Alternative 174
Rank 726: Alternative 678
Rank 727: Alternative 70
Rank 728: Alternative 400
Rank 729: Alternative 480
Rank 730: Alternative 625
Rank 731: Alternative 352
Rank 732: Alternative 223
Rank 733: Alternative 679
Rank 734: Alternative 462
Rank 735: Alternative 472
Rank 736: Alternative 579
Rank 737: Alternative 793
Rank 738: Alternative 237
Rank 739: Alternative 245
Rank 740: Alternative 22
Rank 741: Alternative 771
Rank 742: Alternative 711
Rank 743: Alternative 427
Rank 744: Alternative 434
Rank 745: Alternative 95
Rank 746: Alternative 431
Rank 747: Alternative 372
Rank 748: Alternative 569
Rank 749: Alternative 89
Rank 750: Alternative 592
Rank 751: Alternative 591
Rank 752: Alternative 585
Rank 753: Alternative 51
Rank 754: Alternative 299
Rank 755: Alternative 834
Rank 756: Alternative 320
Rank 757: Alternative 490
Rank 758: Alternative 487
Rank 759: Alternative 644
Rank 760: Alternative 297
Rank 761: Alternative 728
Rank 762: Alternative 624
Rank 763: Alternative 658
Rank 764: Alternative 692
Rank 765: Alternative 756
Rank 766: Alternative 134
Rank 767: Alternative 649
Rank 768: Alternative 674
Rank 769: Alternative 650
Rank 770: Alternative 747
Rank 771: Alternative 798
Rank 772: Alternative 556
Rank 773: Alternative 214
Rank 774: Alternative 217
Rank 775: Alternative 225
Rank 776: Alternative 273
Rank 777: Alternative 294

In [150]:
print("[Nota Pt., Nota Mat., Autoaval., Notas, Envol.Score]")
print(dataset.iloc[258,:].values)
print(dataset.iloc[720,:].values)
print(dataset.iloc[541,:].values)
print(dataset.iloc[495,:].values)
print(dataset.iloc[280,:].values)


print("\nUltimas ranks - Alunos Baixo Risco")
print(dataset.iloc[198,:].values)
print(dataset.iloc[650,:].values)
print(dataset.iloc[60,:].values)
print(dataset.iloc[63,:].values)

[Nota Pt., Nota Mat., Autoaval., Notas, Envol.Score]
[ 2.  2.  1.  1. 18.  0.]
[4. 2. 1. 1. 8. 0.]
[ 2.  3.  1.  1. 19.  0.]
[ 2.  2.  2.  1. 12.  0.]
[ 2.  2.  1.  2. 20.  0.]

Ultimas ranks - Alunos Baixo Risco
[ 5.  5.  5.  5. 25.  3.]
[ 5.  5.  5.  5. 25.  3.]
[ 5.  5.  5.  5. 25.  3.]
[ 5.  5.  5.  5. 25.  3.]