In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
# Step 1: Load the dataset
import pickle
dataset = pd.read_pickle('dataset_final.pkl')

In [3]:
dataset

,Q20__nota_português_2.ºperiodo,Q26__nota_mat_2.ºperiodo,Q16_satisfação_com_notas_escolares,Q15_as_minhas_notas,envolvimento_scoretotal,Prev_Cluster
0,4.0,4.0,4.0,4.0,21.0,1
1,3.0,3.0,3.0,3.0,23.0,1
2,3.0,4.0,4.0,3.0,19.0,1
3,3.0,4.0,3.0,2.0,20.0,1
4,4.0,4.0,5.0,4.0,22.0,3
...,...,...,...,...,...,...
840,4.0,2.0,3.0,3.0,20.0,2
841,3.0,3.0,1.0,1.0,19.0,0
842,5.0,5.0,4.0,3.0,24.0,3
843,5.0,5.0,5.0,3.0,23.0,3
844,3.0,3.0,4.0,3.0,18.0,1

In [4]:
column_sum = np.sum(dataset,axis=0)

column_sum

Q20__nota_português_2.ºperiodo         3094.0
Q26__nota_mat_2.ºperiodo               3130.0
Q16_satisfação_com_notas_escolares     3190.0
Q15_as_minhas_notas                    2431.0
envolvimento_scoretotal               16510.0
Prev_Cluster                           1282.0
dtype: float64

In [5]:
norm_values = np.divide(dataset,column_sum)

norm_values

,Q20__nota_português_2.ºperiodo,Q26__nota_mat_2.ºperiodo,Q16_satisfação_com_notas_escolares,Q15_as_minhas_notas,envolvimento_scoretotal,Prev_Cluster
0,0.001293,0.001278,0.001254,0.001645,0.001272,0.00078
1,0.000970,0.000958,0.000940,0.001234,0.001393,0.00078
2,0.000970,0.001278,0.001254,0.001234,0.001151,0.00078
3,0.000970,0.001278,0.000940,0.000823,0.001211,0.00078
4,0.001293,0.001278,0.001567,0.001645,0.001333,0.00234
...,...,...,...,...,...,...
840,0.001293,0.000639,0.000940,0.001234,0.001211,0.00156
841,0.000970,0.000958,0.000313,0.000411,0.001151,0.00000
842,0.001616,0.001597,0.001254,0.001234,0.001454,0.00234
843,0.001616,0.001597,0.001567,0.001234,0.001393,0.00234
844,0.000970,0.000958,0.001254,0.001234,0.001090,0.00078

In [6]:
h = 1 / math.log(len(dataset))

h

0.1483825568143714

In [7]:
entropy = np.sum(norm_values * np.log2(norm_values))

entropy

c:\Users\Asus\anaconda3\envs\Tese\lib\site-packages\pandas\core\internals\blocks.py:402: RuntimeWarning: divide by zero encountered in log2
  result = func(self.values, **kwargs)

Q20__nota_português_2.ºperiodo       -9.687739
Q26__nota_mat_2.ºperiodo             -9.675884
Q16_satisfação_com_notas_escolares   -9.664162
Q15_as_minhas_notas                  -9.657268
envolvimento_scoretotal              -9.701117
Prev_Cluster                         -9.189222
dtype: float64

In [8]:
entropies = -h * entropy

entropies

Q20__nota_português_2.ºperiodo        1.437491
Q26__nota_mat_2.ºperiodo              1.435732
Q16_satisfação_com_notas_escolares    1.433993
Q15_as_minhas_notas                   1.432970
envolvimento_scoretotal               1.439477
Prev_Cluster                          1.363520
dtype: float64

In [9]:
d = 1-entropies

d

Q20__nota_português_2.ºperiodo       -0.437491
Q26__nota_mat_2.ºperiodo             -0.435732
Q16_satisfação_com_notas_escolares   -0.433993
Q15_as_minhas_notas                  -0.432970
envolvimento_scoretotal              -0.439477
Prev_Cluster                         -0.363520
dtype: float64

In [10]:
sum_d = np.sum(d)

sum_d

-2.543183855910941

In [11]:
weight_vector = np.divide(d,sum_d)

weight_vector

Q20__nota_português_2.ºperiodo        0.172025
Q26__nota_mat_2.ºperiodo              0.171333
Q16_satisfação_com_notas_escolares    0.170649
Q15_as_minhas_notas                   0.170247
envolvimento_scoretotal               0.172806
Prev_Cluster                          0.142939
dtype: float64

In [12]:
weight_vector.tolist()

[0.17202511458634429,
 0.17133341698997043,
 0.17064949815892275,
 0.17024725535006752,
 0.17280566459135063,
 0.1429390503233443]

In [13]:
dataset_pesos = np.multiply(dataset,weight_vector )
dataset_pesos

,Q20__nota_português_2.ºperiodo,Q26__nota_mat_2.ºperiodo,Q16_satisfação_com_notas_escolares,Q15_as_minhas_notas,envolvimento_scoretotal,Prev_Cluster
0,0.688100,0.685334,0.682598,0.680989,3.628919,0.142939
1,0.516075,0.514000,0.511948,0.510742,3.974530,0.142939
2,0.516075,0.685334,0.682598,0.510742,3.283308,0.142939
3,0.516075,0.685334,0.511948,0.340495,3.456113,0.142939
4,0.688100,0.685334,0.853247,0.680989,3.801725,0.428817
...,...,...,...,...,...,...
840,0.688100,0.342667,0.511948,0.510742,3.456113,0.285878
841,0.516075,0.514000,0.170649,0.170247,3.283308,0.000000
842,0.860126,0.856667,0.682598,0.510742,4.147336,0.428817
843,0.860126,0.856667,0.853247,0.510742,3.974530,0.428817
844,0.516075,0.514000,0.682598,0.510742,3.110502,0.142939

In [14]:
ranked_data = dataset.copy()
ranked_data['Weighted Sum'] = np.sum(dataset_pesos, axis=1)
ranked_data = ranked_data.sort_values('Weighted Sum', ascending=True)
ranked_data['Rank'] = range(1, len(dataset) + 1)

In [15]:
# Display the ranked data
for i, idx in enumerate(ranked_data.index):
    print(f"Rank {i+1}: AlunoId {idx+1}")

Rank 1: AlunoId 453
Rank 2: AlunoId 721
Rank 3: AlunoId 418
Rank 4: AlunoId 496
Rank 5: AlunoId 412
Rank 6: AlunoId 336
Rank 7: AlunoId 703
Rank 8: AlunoId 470
Rank 9: AlunoId 436
Rank 10: AlunoId 458
Rank 11: AlunoId 465
Rank 12: AlunoId 478
Rank 13: AlunoId 270
Rank 14: AlunoId 118
Rank 15: AlunoId 108
Rank 16: AlunoId 452
Rank 17: AlunoId 128
Rank 18: AlunoId 539
Rank 19: AlunoId 838
Rank 20: AlunoId 356
Rank 21: AlunoId 814
Rank 22: AlunoId 497
Rank 23: AlunoId 762
Rank 24: AlunoId 248
Rank 25: AlunoId 97
Rank 26: AlunoId 242
Rank 27: AlunoId 444
Rank 28: AlunoId 543
Rank 29: AlunoId 163
Rank 30: AlunoId 361
Rank 31: AlunoId 752
Rank 32: AlunoId 446
Rank 33: AlunoId 113
Rank 34: AlunoId 259
Rank 35: AlunoId 367
Rank 36: AlunoId 832
Rank 37: AlunoId 340
Rank 38: AlunoId 822
Rank 39: AlunoId 321
Rank 40: AlunoId 387
Rank 41: AlunoId 746
Rank 42: AlunoId 677
Rank 43: AlunoId 657
Rank 44: AlunoId 545
Rank 45: AlunoId 334
Rank 46: AlunoId 17
Rank 47: AlunoId 620
Rank 48: AlunoId 510
Rank 49: AlunoId 402
Rank 50: AlunoId 338
Rank 51: AlunoId 188
Rank 52: AlunoId 144
Rank 53: AlunoId 170
Rank 54: AlunoId 250
Rank 55: AlunoId 112
Rank 56: AlunoId 492
Rank 57: AlunoId 800
Rank 58: AlunoId 150
Rank 59: AlunoId 244
Rank 60: AlunoId 192
Rank 61: AlunoId 754
Rank 62: AlunoId 763
Rank 63: AlunoId 468
Rank 64: AlunoId 382
Rank 65: AlunoId 467
Rank 66: AlunoId 583
Rank 67: AlunoId 345
Rank 68: AlunoId 489
Rank 69: AlunoId 332
Rank 70: AlunoId 824
Rank 71: AlunoId 829
Rank 72: AlunoId 553
Rank 73: AlunoId 806
Rank 74: AlunoId 773
Rank 75: AlunoId 389
Rank 76: AlunoId 114
Rank 77: AlunoId 437
Rank 78: AlunoId 542
Rank 79: AlunoId 141
Rank 80: AlunoId 119
Rank 81: AlunoId 111
Rank 82: AlunoId 124
Rank 83: AlunoId 395
Rank 84: AlunoId 390
Rank 85: AlunoId 109
Rank 86: AlunoId 105
Rank 87: AlunoId 475
Rank 88: AlunoId 559
Rank 89: AlunoId 765
Rank 90: AlunoId 249
Rank 91: AlunoId 143
Rank 92: AlunoId 797
Rank 93: AlunoId 520
Rank 94: AlunoId 689
Rank 95: AlunoId 785
Rank 96: AlunoId 503
Rank 97: AlunoId 298
Rank 98: AlunoId 544
Rank 99: AlunoId 365
Rank 100: AlunoId 353
Rank 101: AlunoId 699
Rank 102: AlunoId 493
Rank 103: AlunoId 540
Rank 104: AlunoId 766
Rank 105: AlunoId 281
Rank 106: AlunoId 842
Rank 107: AlunoId 292
Rank 108: AlunoId 181
Rank 109: AlunoId 44
Rank 110: AlunoId 343
Rank 111: AlunoId 738
Rank 112: AlunoId 780
Rank 113: AlunoId 220
Rank 114: AlunoId 18
Rank 115: AlunoId 637
Rank 116: AlunoId 265
Rank 117: AlunoId 731
Rank 118: AlunoId 145
Rank 119: AlunoId 344
Rank 120: AlunoId 813
Rank 121: AlunoId 792
Rank 122: AlunoId 410
Rank 123: AlunoId 736
Rank 124: AlunoId 588
Rank 125: AlunoId 439
Rank 126: AlunoId 513
Rank 127: AlunoId 473
Rank 128: AlunoId 708
Rank 129: AlunoId 377
Rank 130: AlunoId 757
Rank 131: AlunoId 725
Rank 132: AlunoId 167
Rank 133: AlunoId 363
Rank 134: AlunoId 358
Rank 135: AlunoId 808
Rank 136: AlunoId 500
Rank 137: AlunoId 668
Rank 138: AlunoId 719
Rank 139: AlunoId 303
Rank 140: AlunoId 255
Rank 141: AlunoId 820
Rank 142: AlunoId 419
Rank 143: AlunoId 424
Rank 144: AlunoId 394
Rank 145: AlunoId 12
Rank 146: AlunoId 818
Rank 147: AlunoId 29
Rank 148: AlunoId 52
Rank 149: AlunoId 697
Rank 150: AlunoId 405
Rank 151: AlunoId 514
Rank 152: AlunoId 224
Rank 153: AlunoId 207
Rank 154: AlunoId 501
Rank 155: AlunoId 810
Rank 156: AlunoId 375
Rank 157: AlunoId 23
Rank 158: AlunoId 272
Rank 159: AlunoId 505
Rank 160: AlunoId 836
Rank 161: AlunoId 835
Rank 162: AlunoId 171
Rank 163: AlunoId 342
Rank 164: AlunoId 823
Rank 165: AlunoId 749
Rank 166: AlunoId 811
Rank 167: AlunoId 837
Rank 168: AlunoId 456
Rank 169: AlunoId 552
Rank 170: AlunoId 383
Rank 171: AlunoId 530
Rank 172: AlunoId 796
Rank 173: AlunoId 494
Rank 174: AlunoId 454
Rank 175: AlunoId 605
Rank 176: AlunoId 384
Rank 177: AlunoId 348
Rank 178: AlunoId 24
Rank 179: AlunoId 720
Rank 180: AlunoId 715
Rank 181: AlunoId 179
Rank 182: AlunoId 317
Rank 183: AlunoId 330
Rank 184: AlunoId 403
Rank 185: AlunoId 226
Rank 186: AlunoId 551
Rank 187: AlunoId 78
Rank 188: AlunoId 379
Rank 189: AlunoId 504
Rank 190: AlunoId 25
Rank 191: AlunoId 667
Rank 192: AlunoId 671
Rank 193: AlunoId 35
Rank 194: AlunoId 359
Rank 195: AlunoId 323
Rank 196: AlunoId 664
Rank 197: AlunoId 562
Rank 198: AlunoId 393
Rank 199: AlunoId 799
Rank 200: AlunoId 139
Rank 201: AlunoId 278
Rank 202: AlunoId 357
Rank 203: AlunoId 488
Rank 204: AlunoId 258
Rank 205: AlunoId 399
Rank 206: AlunoId 101
Rank 207: AlunoId 178
Rank 208: AlunoId 476
Rank 209: AlunoId 447
Rank 210: AlunoId 448
Rank 211: AlunoId 26
Rank 212: AlunoId 714
Rank 213: AlunoId 420
Rank 214: AlunoId 86
Rank 215: AlunoId 826
Rank 216: AlunoId 161
Rank 217: AlunoId 378
Rank 218: AlunoId 589
Rank 219: AlunoId 347
Rank 220: AlunoId 374
Rank 221: AlunoId 370
Rank 222: AlunoId 30
Rank 223: AlunoId 293
Rank 224: AlunoId 640
Rank 225: AlunoId 232
Rank 226: AlunoId 561
Rank 227: AlunoId 409
Rank 228: AlunoId 772
Rank 229: AlunoId 509
Rank 230: AlunoId 809
Rank 231: AlunoId 839
Rank 232: AlunoId 43
Rank 233: AlunoId 14
Rank 234: AlunoId 398
Rank 235: AlunoId 768
Rank 236: AlunoId 422
Rank 237: AlunoId 47
Rank 238: AlunoId 643
Rank 239: AlunoId 638
Rank 240: AlunoId 547
Rank 241: AlunoId 162
Rank 242: AlunoId 175
Rank 243: AlunoId 98
Rank 244: AlunoId 240
Rank 245: AlunoId 536
Rank 246: AlunoId 404
Rank 247: AlunoId 401
Rank 248: AlunoId 252
Rank 249: AlunoId 845
Rank 250: AlunoId 807
Rank 251: AlunoId 741
Rank 252: AlunoId 805
Rank 253: AlunoId 75
Rank 254: AlunoId 243
Rank 255: AlunoId 229
Rank 256: AlunoId 381
Rank 257: AlunoId 727
Rank 258: AlunoId 231
Rank 259: AlunoId 840
Rank 260: AlunoId 37
Rank 261: AlunoId 385
Rank 262: AlunoId 65
Rank 263: AlunoId 734
Rank 264: AlunoId 417
Rank 265: AlunoId 166
Rank 266: AlunoId 106
Rank 267: AlunoId 781
Rank 268: AlunoId 532
Rank 269: AlunoId 732
Rank 270: AlunoId 690
Rank 271: AlunoId 706
Rank 272: AlunoId 527
Rank 273: AlunoId 193
Rank 274: AlunoId 685
Rank 275: AlunoId 581
Rank 276: AlunoId 110
Rank 277: AlunoId 83
Rank 278: AlunoId 730
Rank 279: AlunoId 645
Rank 280: AlunoId 733
Rank 281: AlunoId 392
Rank 282: AlunoId 228
Rank 283: AlunoId 173
Rank 284: AlunoId 164
Rank 285: AlunoId 241
Rank 286: AlunoId 442
Rank 287: AlunoId 81
Rank 288: AlunoId 93
Rank 289: AlunoId 435
Rank 290: AlunoId 632
Rank 291: AlunoId 247
Rank 292: AlunoId 541
Rank 293: AlunoId 603
Rank 294: AlunoId 663
Rank 295: AlunoId 406
Rank 296: AlunoId 346
Rank 297: AlunoId 209
Rank 298: AlunoId 388
Rank 299: AlunoId 360
Rank 300: AlunoId 302
Rank 301: AlunoId 140
Rank 302: AlunoId 233
Rank 303: AlunoId 154
Rank 304: AlunoId 185
Rank 305: AlunoId 4
Rank 306: AlunoId 350
Rank 307: AlunoId 550
Rank 308: AlunoId 464
Rank 309: AlunoId 280
Rank 310: AlunoId 753
Rank 311: AlunoId 322
Rank 312: AlunoId 511
Rank 313: AlunoId 315
Rank 314: AlunoId 441
Rank 315: AlunoId 574
Rank 316: AlunoId 100
Rank 317: AlunoId 230
Rank 318: AlunoId 831
Rank 319: AlunoId 745
Rank 320: AlunoId 716
Rank 321: AlunoId 612
Rank 322: AlunoId 767
Rank 323: AlunoId 508
Rank 324: AlunoId 206
Rank 325: AlunoId 707
Rank 326: AlunoId 457
Rank 327: AlunoId 296
Rank 328: AlunoId 841
Rank 329: AlunoId 775
Rank 330: AlunoId 506
Rank 331: AlunoId 684
Rank 332: AlunoId 397
Rank 333: AlunoId 717
Rank 334: AlunoId 376
Rank 335: AlunoId 318
Rank 336: AlunoId 186
Rank 337: AlunoId 116
Rank 338: AlunoId 750
Rank 339: AlunoId 103
Rank 340: AlunoId 131
Rank 341: AlunoId 58
Rank 342: AlunoId 239
Rank 343: AlunoId 3
Rank 344: AlunoId 213
Rank 345: AlunoId 267
Rank 346: AlunoId 291
Rank 347: AlunoId 430
Rank 348: AlunoId 443
Rank 349: AlunoId 182
Rank 350: AlunoId 421
Rank 351: AlunoId 159
Rank 352: AlunoId 268
Rank 353: AlunoId 319
Rank 354: AlunoId 191
Rank 355: AlunoId 523
Rank 356: AlunoId 696
Rank 357: AlunoId 495
Rank 358: AlunoId 564
Rank 359: AlunoId 21
Rank 360: AlunoId 203
Rank 361: AlunoId 256
Rank 362: AlunoId 700
Rank 363: AlunoId 115
Rank 364: AlunoId 215
Rank 365: AlunoId 560
Rank 366: AlunoId 648
Rank 367: AlunoId 582
Rank 368: AlunoId 32
Rank 369: AlunoId 235
Rank 370: AlunoId 33
Rank 371: AlunoId 449
Rank 372: AlunoId 584
Rank 373: AlunoId 425
Rank 374: AlunoId 364
Rank 375: AlunoId 90
Rank 376: AlunoId 646
Rank 377: AlunoId 656
Rank 378: AlunoId 704
Rank 379: AlunoId 31
Rank 380: AlunoId 168
Rank 381: AlunoId 198
Rank 382: AlunoId 19
Rank 383: AlunoId 208
Rank 384: AlunoId 271
Rank 385: AlunoId 15
Rank 386: AlunoId 426
Rank 387: AlunoId 117
Rank 388: AlunoId 96
Rank 389: AlunoId 126
Rank 390: AlunoId 136
Rank 391: AlunoId 306
Rank 392: AlunoId 660
Rank 393: AlunoId 546
Rank 394: AlunoId 748
Rank 395: AlunoId 751
Rank 396: AlunoId 769
Rank 397: AlunoId 724
Rank 398: AlunoId 316
Rank 399: AlunoId 55
Rank 400: AlunoId 665
Rank 401: AlunoId 821
Rank 402: AlunoId 830
Rank 403: AlunoId 779
Rank 404: AlunoId 521
Rank 405: AlunoId 463
Rank 406: AlunoId 710
Rank 407: AlunoId 176
Rank 408: AlunoId 758
Rank 409: AlunoId 461
Rank 410: AlunoId 216
Rank 411: AlunoId 246
Rank 412: AlunoId 158
Rank 413: AlunoId 311
Rank 414: AlunoId 204
Rank 415: AlunoId 279
Rank 416: AlunoId 16
Rank 417: AlunoId 391
Rank 418: AlunoId 368
Rank 419: AlunoId 314
Rank 420: AlunoId 525
Rank 421: AlunoId 482
Rank 422: AlunoId 227
Rank 423: AlunoId 349
Rank 424: AlunoId 469
Rank 425: AlunoId 471
Rank 426: AlunoId 681
Rank 427: AlunoId 42
Rank 428: AlunoId 833
Rank 429: AlunoId 138
Rank 430: AlunoId 165
Rank 431: AlunoId 606
Rank 432: AlunoId 211
Rank 433: AlunoId 373
Rank 434: AlunoId 82
Rank 435: AlunoId 27
Rank 436: AlunoId 622
Rank 437: AlunoId 283
Rank 438: AlunoId 309
Rank 439: AlunoId 499
Rank 440: AlunoId 68
Rank 441: AlunoId 269
Rank 442: AlunoId 329
Rank 443: AlunoId 587
Rank 444: AlunoId 784
Rank 445: AlunoId 760
Rank 446: AlunoId 284
Rank 447: AlunoId 537
Rank 448: AlunoId 572
Rank 449: AlunoId 705
Rank 450: AlunoId 662
Rank 451: AlunoId 528
Rank 452: AlunoId 512
Rank 453: AlunoId 107
Rank 454: AlunoId 87
Rank 455: AlunoId 327
Rank 456: AlunoId 647
Rank 457: AlunoId 450
Rank 458: AlunoId 483
Rank 459: AlunoId 63
Rank 460: AlunoId 485
Rank 461: AlunoId 770
Rank 462: AlunoId 69
Rank 463: AlunoId 529
Rank 464: AlunoId 371
Rank 465: AlunoId 519
Rank 466: AlunoId 460
Rank 467: AlunoId 782
Rank 468: AlunoId 341
Rank 469: AlunoId 786
Rank 470: AlunoId 102
Rank 471: AlunoId 723
Rank 472: AlunoId 507
Rank 473: AlunoId 735
Rank 474: AlunoId 755
Rank 475: AlunoId 326
Rank 476: AlunoId 691
Rank 477: AlunoId 709
Rank 478: AlunoId 623
Rank 479: AlunoId 777
Rank 480: AlunoId 764
Rank 481: AlunoId 48
Rank 482: AlunoId 85
Rank 483: AlunoId 301
Rank 484: AlunoId 7
Rank 485: AlunoId 618
Rank 486: AlunoId 366
Rank 487: AlunoId 631
Rank 488: AlunoId 571
Rank 489: AlunoId 72
Rank 490: AlunoId 445
Rank 491: AlunoId 289
Rank 492: AlunoId 498
Rank 493: AlunoId 88
Rank 494: AlunoId 262
Rank 495: AlunoId 9
Rank 496: AlunoId 263
Rank 497: AlunoId 616
Rank 498: AlunoId 49
Rank 499: AlunoId 234
Rank 500: AlunoId 2
Rank 501: AlunoId 803
Rank 502: AlunoId 194
Rank 503: AlunoId 729
Rank 504: AlunoId 372
Rank 505: AlunoId 320
Rank 506: AlunoId 649
Rank 507: AlunoId 650
Rank 508: AlunoId 615
Rank 509: AlunoId 11
Rank 510: AlunoId 774
Rank 511: AlunoId 627
Rank 512: AlunoId 187
Rank 513: AlunoId 718
Rank 514: AlunoId 155
Rank 515: AlunoId 802
Rank 516: AlunoId 310
Rank 517: AlunoId 626
Rank 518: AlunoId 6
Rank 519: AlunoId 682
Rank 520: AlunoId 459
Rank 521: AlunoId 517
Rank 522: AlunoId 328
Rank 523: AlunoId 104
Rank 524: AlunoId 604
Rank 525: AlunoId 56
Rank 526: AlunoId 666
Rank 527: AlunoId 516
Rank 528: AlunoId 40
Rank 529: AlunoId 580
Rank 530: AlunoId 135
Rank 531: AlunoId 222
Rank 532: AlunoId 74
Rank 533: AlunoId 597
Rank 534: AlunoId 177
Rank 535: AlunoId 702
Rank 536: AlunoId 34
Rank 537: AlunoId 423
Rank 538: AlunoId 451
Rank 539: AlunoId 816
Rank 540: AlunoId 183
Rank 541: AlunoId 266
Rank 542: AlunoId 613
Rank 543: AlunoId 526
Rank 544: AlunoId 354
Rank 545: AlunoId 533
Rank 546: AlunoId 599
Rank 547: AlunoId 277
Rank 548: AlunoId 60
Rank 549: AlunoId 210
Rank 550: AlunoId 66
Rank 551: AlunoId 313
Rank 552: AlunoId 142
Rank 553: AlunoId 655
Rank 554: AlunoId 236
Rank 555: AlunoId 585
Rank 556: AlunoId 834
Rank 557: AlunoId 416
Rank 558: AlunoId 99
Rank 559: AlunoId 789
Rank 560: AlunoId 414
Rank 561: AlunoId 636
Rank 562: AlunoId 355
Rank 563: AlunoId 524
Rank 564: AlunoId 570
Rank 565: AlunoId 197
Rank 566: AlunoId 157
Rank 567: AlunoId 333
Rank 568: AlunoId 408
Rank 569: AlunoId 219
Rank 570: AlunoId 687
Rank 571: AlunoId 160
Rank 572: AlunoId 595
Rank 573: AlunoId 639
Rank 574: AlunoId 122
Rank 575: AlunoId 45
Rank 576: AlunoId 38
Rank 577: AlunoId 825
Rank 578: AlunoId 518
Rank 579: AlunoId 433
Rank 580: AlunoId 686
Rank 581: AlunoId 180
Rank 582: AlunoId 586
Rank 583: AlunoId 740
Rank 584: AlunoId 673
Rank 585: AlunoId 261
Rank 586: AlunoId 369
Rank 587: AlunoId 337
Rank 588: AlunoId 1
Rank 589: AlunoId 127
Rank 590: AlunoId 130
Rank 591: AlunoId 148
Rank 592: AlunoId 196
Rank 593: AlunoId 257
Rank 594: AlunoId 474
Rank 595: AlunoId 218
Rank 596: AlunoId 828
Rank 597: AlunoId 254
Rank 598: AlunoId 502
Rank 599: AlunoId 275
Rank 600: AlunoId 174
Rank 601: AlunoId 644
Rank 602: AlunoId 787
Rank 603: AlunoId 184
Rank 604: AlunoId 149
Rank 605: AlunoId 288
Rank 606: AlunoId 610
Rank 607: AlunoId 538
Rank 608: AlunoId 515
Rank 609: AlunoId 590
Rank 610: AlunoId 672
Rank 611: AlunoId 396
Rank 612: AlunoId 415
Rank 613: AlunoId 46
Rank 614: AlunoId 554
Rank 615: AlunoId 77
Rank 616: AlunoId 120
Rank 617: AlunoId 362
Rank 618: AlunoId 713
Rank 619: AlunoId 812
Rank 620: AlunoId 479
Rank 621: AlunoId 54
Rank 622: AlunoId 28
Rank 623: AlunoId 815
Rank 624: AlunoId 791
Rank 625: AlunoId 778
Rank 626: AlunoId 633
Rank 627: AlunoId 567
Rank 628: AlunoId 312
Rank 629: AlunoId 129
Rank 630: AlunoId 675
Rank 631: AlunoId 264
Rank 632: AlunoId 200
Rank 633: AlunoId 189
Rank 634: AlunoId 325
Rank 635: AlunoId 428
Rank 636: AlunoId 573
Rank 637: AlunoId 324
Rank 638: AlunoId 70
Rank 639: AlunoId 722
Rank 640: AlunoId 614
Rank 641: AlunoId 531
Rank 642: AlunoId 297
Rank 643: AlunoId 299
Rank 644: AlunoId 674
Rank 645: AlunoId 137
Rank 646: AlunoId 440
Rank 647: AlunoId 790
Rank 648: AlunoId 678
Rank 649: AlunoId 290
Rank 650: AlunoId 39
Rank 651: AlunoId 20
Rank 652: AlunoId 804
Rank 653: AlunoId 36
Rank 654: AlunoId 73
Rank 655: AlunoId 50
Rank 656: AlunoId 817
Rank 657: AlunoId 253
Rank 658: AlunoId 307
Rank 659: AlunoId 152
Rank 660: AlunoId 565
Rank 661: AlunoId 759
Rank 662: AlunoId 761
Rank 663: AlunoId 351
Rank 664: AlunoId 195
Rank 665: AlunoId 549
Rank 666: AlunoId 827
Rank 667: AlunoId 819
Rank 668: AlunoId 59
Rank 669: AlunoId 654
Rank 670: AlunoId 223
Rank 671: AlunoId 221
Rank 672: AlunoId 692
Rank 673: AlunoId 487
Rank 674: AlunoId 747
Rank 675: AlunoId 728
Rank 676: AlunoId 41
Rank 677: AlunoId 169
Rank 678: AlunoId 484
Rank 679: AlunoId 793
Rank 680: AlunoId 472
Rank 681: AlunoId 431
Rank 682: AlunoId 22
Rank 683: AlunoId 739
Rank 684: AlunoId 153
Rank 685: AlunoId 151
Rank 686: AlunoId 432
Rank 687: AlunoId 287
Rank 688: AlunoId 688
Rank 689: AlunoId 123
Rank 690: AlunoId 619
Rank 691: AlunoId 608
Rank 692: AlunoId 661
Rank 693: AlunoId 601
Rank 694: AlunoId 701
Rank 695: AlunoId 695
Rank 696: AlunoId 771
Rank 697: AlunoId 698
Rank 698: AlunoId 611
Rank 699: AlunoId 569
Rank 700: AlunoId 591
Rank 701: AlunoId 658
Rank 702: AlunoId 134
Rank 703: AlunoId 5
Rank 704: AlunoId 555
Rank 705: AlunoId 156
Rank 706: AlunoId 273
Rank 707: AlunoId 744
Rank 708: AlunoId 783
Rank 709: AlunoId 594
Rank 710: AlunoId 455
Rank 711: AlunoId 147
Rank 712: AlunoId 578
Rank 713: AlunoId 172
Rank 714: AlunoId 642
Rank 715: AlunoId 121
Rank 716: AlunoId 600
Rank 717: AlunoId 67
Rank 718: AlunoId 308
Rank 719: AlunoId 558
Rank 720: AlunoId 92
Rank 721: AlunoId 776
Rank 722: AlunoId 427
Rank 723: AlunoId 653
Rank 724: AlunoId 276
Rank 725: AlunoId 575
Rank 726: AlunoId 53
Rank 727: AlunoId 286
Rank 728: AlunoId 694
Rank 729: AlunoId 260
Rank 730: AlunoId 576
Rank 731: AlunoId 535
Rank 732: AlunoId 491
Rank 733: AlunoId 304
Rank 734: AlunoId 133
Rank 735: AlunoId 8
Rank 736: AlunoId 335
Rank 737: AlunoId 670
Rank 738: AlunoId 13
Rank 739: AlunoId 91
Rank 740: AlunoId 795
Rank 741: AlunoId 742
Rank 742: AlunoId 251
Rank 743: AlunoId 95
Rank 744: AlunoId 71
Rank 745: AlunoId 490
Rank 746: AlunoId 89
Rank 747: AlunoId 76
Rank 748: AlunoId 62
Rank 749: AlunoId 596
Rank 750: AlunoId 125
Rank 751: AlunoId 798
Rank 752: AlunoId 481
Rank 753: AlunoId 726
Rank 754: AlunoId 294
Rank 755: AlunoId 712
Rank 756: AlunoId 217
Rank 757: AlunoId 652
Rank 758: AlunoId 683
Rank 759: AlunoId 94
Rank 760: AlunoId 190
Rank 761: AlunoId 386
Rank 762: AlunoId 237
Rank 763: AlunoId 434
Rank 764: AlunoId 339
Rank 765: AlunoId 438
Rank 766: AlunoId 522
Rank 767: AlunoId 331
Rank 768: AlunoId 788
Rank 769: AlunoId 801
Rank 770: AlunoId 548
Rank 771: AlunoId 566
Rank 772: AlunoId 579
Rank 773: AlunoId 245
Rank 774: AlunoId 602
Rank 775: AlunoId 212
Rank 776: AlunoId 659
Rank 777: AlunoId 592
Rank 778: AlunoId 380
Rank 779: AlunoId 563
Rank 780: AlunoId 557
Rank 781: AlunoId 300
Rank 782: AlunoId 593
Rank 783: AlunoId 844
Rank 784: AlunoId 413
Rank 785: AlunoId 10
Rank 786: AlunoId 598
Rank 787: AlunoId 225
Rank 788: AlunoId 635
Rank 789: AlunoId 305
Rank 790: AlunoId 794
Rank 791: AlunoId 534
Rank 792: AlunoId 711
Rank 793: AlunoId 843
Rank 794: AlunoId 282
Rank 795: AlunoId 669
Rank 796: AlunoId 680
Rank 797: AlunoId 274
Rank 798: AlunoId 629
Rank 799: AlunoId 641
Rank 800: AlunoId 621
Rank 801: AlunoId 466
Rank 802: AlunoId 737
Rank 803: AlunoId 630
Rank 804: AlunoId 693
Rank 805: AlunoId 132
Rank 806: AlunoId 57
Rank 807: AlunoId 624
Rank 808: AlunoId 205
Rank 809: AlunoId 477
Rank 810: AlunoId 628
Rank 811: AlunoId 202
Rank 812: AlunoId 214
Rank 813: AlunoId 429
Rank 814: AlunoId 556
Rank 815: AlunoId 679
Rank 816: AlunoId 625
Rank 817: AlunoId 352
Rank 818: AlunoId 400
Rank 819: AlunoId 462
Rank 820: AlunoId 480
Rank 821: AlunoId 51
Rank 822: AlunoId 568
Rank 823: AlunoId 617
Rank 824: AlunoId 634
Rank 825: AlunoId 756
Rank 826: AlunoId 609
Rank 827: AlunoId 79
Rank 828: AlunoId 411
Rank 829: AlunoId 285
Rank 830: AlunoId 80
Rank 831: AlunoId 676
Rank 832: AlunoId 295
Rank 833: AlunoId 486
Rank 834: AlunoId 577
Rank 835: AlunoId 238
Rank 836: AlunoId 146
Rank 837: AlunoId 201
Rank 838: AlunoId 84
Rank 839: AlunoId 607
Rank 840: AlunoId 407
Rank 841: AlunoId 64
Rank 842: AlunoId 651
Rank 843: AlunoId 199
Rank 844: AlunoId 743
Rank 845: AlunoId 61

In [16]:
print("[Nota Pt., Nota Mat., Autoaval., Notas, Envol.Score]")
print(dataset.iloc[452,:].values)
print(dataset.iloc[720,:].values)
print(dataset.iloc[417,:].values)
print(dataset.iloc[495,:].values)
print(dataset.iloc[411,:].values)


print("\nUltimas ranks - Alunos Baixo Risco")
print(dataset.iloc[63,:].values)
print(dataset.iloc[650,:].values)
print(dataset.iloc[198,:].values)
print(dataset.iloc[742,:].values)
print(dataset.iloc[60,:].values)

[Nota Pt., Nota Mat., Autoaval., Notas, Envol.Score]
[3. 2. 3. 2. 6. 0.]
[4. 2. 1. 1. 8. 0.]
[4. 3. 1. 1. 8. 0.]
[ 2.  2.  2.  1. 12.  0.]
[3. 4. 2. 2. 9. 0.]

Ultimas ranks - Alunos Baixo Risco
[ 5.  5.  5.  5. 25.  3.]
[ 5.  5.  5.  5. 25.  3.]
[ 5.  5.  5.  5. 25.  3.]
[ 5.  5.  5.  5. 25.  3.]
[ 5.  5.  5.  5. 25.  3.]